## Extract

In [89]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
import time
import numpy as np

## Transform

In [90]:
browser = Browser('chrome')
url = f'https://databases.usatoday.com/mlb-salaries-2022/page/1/'
browser.visit(url)
html = browser.html

## Load

In [91]:
counter = 1
for i in range(1,50):
    if i < 49:
        salary_data = []
        html = browser.html
        html_soup = soup(html, 'html.parser')
        avg_salary = html_soup.find_all('div', class_='csp-data-table')
        for row in avg_salary:
            row_data = row.find_all('td')
            salary_data_sub = []
            for item in row_data:
                salary_data_sub.append(item.text)
            salary_data.append(salary_data_sub)
            split_data = np.array_split(salary_data[0], 20)
            zz = pd.DataFrame(split_data)
            if counter == 1:
                result= pd.DataFrame(split_data)
                counter = 2
            else:
                result = pd.concat([result, zz])
            browser.links.find_by_partial_text('Next').click()
            time.sleep(5)
    else:
        salary_data = []
        html = browser.html
        html_soup = soup(html, 'html.parser')
        avg_salary = html_soup.find_all('div', class_='csp-data-table')
        for row in avg_salary:
            row_data = row.find_all('td')
            salary_data_sub = []
            for item in row_data:
                salary_data_sub.append(item.text)
            salary_data.append(salary_data_sub)
            split_data = np.array_split(salary_data[0], 11)
            zz = pd.DataFrame(split_data)
        result = pd.concat([result, zz])


result.head(25)

In [103]:
# result.rename(columns={'0': 'Player', '1': 'Team', '2': 'Position', '3': 'Salary', '4': 'Years', 
#                       '5': 'Total Value', '6': 'Average Annual'}, inplace=True)
result.columns=['Player', 'Team', 'Position', 'Salary', 'Years', 'Total Value', 'Average Annual']
result.head()
result.to_csv('2022 .csv')

In [93]:
browser.quit()